name: Deploy to Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Build and Deploy
        run: |
          cp /home/saul/envs/bjju-backend.env .env
          docker compose -f docker-compose.yml up -d --build --remove-orphans
          docker image prune -f
